{% extends "layout.html" %}


{% block content %} 
<div id = "bg"></div>
<div id = "transparent"></div>
<nav class = "navbar">
    <p id = "usernameID">{{ username }}</p>
    <a id = "logoutID" href= "/logout">logout</a>
</nav>

<p id = "standingtitle" >Search Standing By Year</p>
<div id = "standingContainer">
    <form action="/searchResults">
        <div class = "center" id = "standingInner">
            <div id = "yearGroup">
                <p id = "yearTextID">year:</p>
                <input type = "number" id = "yearSelect" min="1871" max="2000" required/>
            </div>
    
        </div>
    
        <button id = "yearSelectBtn">
        <b>></b>
        </button>
    </form>
</div>
<p id="favoriteTeamTxt">Favorite Team: <span id = "favoriteTeam">{{faveTeam}}</span>, Year: {{faveTeamYear}}</p>
<div id = "roster">
    <div id ="attributeList">
        <p>NAME</p>
        <p>AGE</p>
        <p>BIRTH PLACE</p>
        <p>BATTER</p>
        <p>PITCHER</p>
    </div>
    <div id ="rosterContent">
        {% for player in players %}
        <div class = "player">
            <span class = "nameVal">{{player['name']}}</span>
            <span class = "ageVal">{{player['age']}}</span>
            <span class = "birthPlaceVal">{{player['birthPlace']}}</span>
            <span class = "batterVal">N</span>
            <span class = "pitcherVal">N</span> 
        </div>
        {% endfor %}
    </div>
</div>
<div id = "faveTeamContainer">
    <form action="/changeFaveTeam">
        <div id ="selectorCenter">
            <label for="faveTeamSelect">Favorite Team</label>
            <select  id="faveTeamSelect">
                {% for t in teamNames %}
                    <option value = {{t}}>{{t}}</option>
                {% endfor %}
            </select>
            <label for="faveTeamYrSelect">Favorite Team Year</label>
            <select  id="faveTeamYrSelect">
                {% for y in teamYears %}
                    <option value = {{y}}>{{y}}</option>
                {% endfor %}
            </select>
        </div>

        <button id = "changeBtn" type="submit">CHANGE</button>
    </form>

</div>


{% endblock content %}
