{% extends "layout.html" %}


{% block content %} 
<div id = "bg"></div>
<div id = "transparent"></div>
<nav class = "navbar">
    <p id = "usernameID">{{ username }}</p>
    <a id = "logoutID" href= "/logout">logout</a>
</nav>

<p id = "standingtitle" >Search Standing By Year</p>
<div id = "standingContainer">
    <form action="/searchResults" method = "post">
        <div class = "center" id = "standingInner">
            <div id = "yearGroup">
                <p id = "yearTextID">year:</p>
                <input type = "number" id = "yearSelect" name = 'year' min="1871" max="2020" required/>
            </div>
        </div>
    
        <button id = "yearSelectBtn">
        <b>></b>
        </button>
    </form>
</div>
{% if faveTeam != 'NONE' %}
    <p id="favoriteTeamTxt">Favorite Team: <span id = "favoriteTeam">{{faveTeam}}</span>, Year: {{faveTeamYear}}</p>
{% else %}
    <p id="favoriteTeamTxt">Favorite Team: <span id = "favoriteTeam">None</span></p>

{% endif %}

<div id = "roster">
    <div id ="attributeList">
        <p>NAME</p>
        <p>AGE</p>
        <p>BIRTH PLACE</p>
        <p>BATTER</p>
        <p>PITCHER</p>
    </div>
    <div id ="rosterContent">
        {% for player in players %}
        <div class = "player">
            <span class = "nameVal">{{player['name']}}</span>
            <span class = "ageVal">{{player['age']}}</span>
            <span class = "birthPlaceVal">{{player['birthPlace']}}</span>
            <span class = "batterVal">{{player['batter']}}</span>
            <span class = "pitcherVal">{{player['pitcher']}}</span> 
        </div>
        {% endfor %}
    </div>
</div>
<p id = "chngFaveTeamTxt">Change Favorite Team</p>
<div id = "faveTeamContainer">
    <form action="/changeFaveTeam" method = 'post'>
        <div id ="selectorCenter">
            <label id = "faveTeamLabel" for="faveTeamSelect">Favorite Team</label>
            <select  id="faveTeamSelect" name = 'teamSelect' onchange = "updateYears()">
                {% for t in teamNames %}
                    <option value = '{{t}}'>{{t}}</option>
                {% endfor %}
            </select>
            <label for="faveTeamYrSelect">Favorite Team Year</label>
            <select  id="faveTeamYrSelect" name = 'faveYearSelect'>
                {% for y in teamYears %}
                    <option value = '{{y}}'>{{y}}</option>
                {% endfor %}
            </select>
        </div>

        <button id = "changeBtn" type="submit">CHANGE</button>
    </form>

</div>

<script>

    function updateYears(){
        let e = document.getElementById('faveTeamSelect');
        let val = e.options[e.selectedIndex].text;
        document.location.href = '/handleYearChange?team=' + val;
    }

</script>


{% endblock content %}
