<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Welcome to Baseball DB app</h1>
  <p>By: Richard Hutcheson, Austin Blanchard, and Noah Lambaria</p>

  <label for="Username">Username:</label>
  <input type="text" id="Username" name="Username"></input><br>
  <label for="Password">Password: </label>
  <input type="password" id="Password" name="Password"></input><br>
</body>

</html>
